@model ProjectManagementApp.Models.SignInViewModel

@{
    ViewBag.Title = "Sign in";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<div id="content" class="column grid_12">
  <div class="inner last">
  
    <h2 class="center"><span class="iconic pencil"></span> Sign in</h2>
    <hr />
    
    @using (Html.BeginForm()) {
        @Html.ValidationSummary(true)
        <fieldset class="inputs">
            <ol>
                <li class="string required title">
                    @Html.LabelFor(model => model.Email)
                    @Html.EditorFor(model => model.Email)
                    @Html.ValidationMessageFor(model => model.Email)
                </li>

                <li class="password required">
                    @Html.LabelFor(model => model.Password)
                    @Html.EditorFor(model => model.Password)
                    @Html.ValidationMessageFor(model => model.Password)
                </li>

                <li>
                    <p>New user? @Html.ActionLink("Sign up now!", "Create", "Users")</p>
                </li>
            </ol>
        </fieldset>
        <fieldset class="buttons">
            <ol>
                <li><input type="submit" value="Sign in" /></li>
                <li>or @Html.ActionLink("Cancel", "Index", "Home")</li>
            </ol>
        </fieldset>        
    }
           
  </div>
</div>
